<div>
  <div class="answer-form">
    <div class="form-wrapper">
      <h4>{{item.question}}</h4>
      <form [formGroup]="answerForm">
        <mat-selection-list multiple="false" formControlName="answer">
          <mat-list-option *ngFor="let option of item?.options" [value]="option.id">
            {{option.value}}
          </mat-list-option>
        </mat-selection-list>
      </form>
      <div class="nav-buttons">
        <button mat-raised-button color="primary" [disabled]="selectedIndex === 0" (click)="previousQuestion()">Previous</button>
        <button mat-raised-button color="primary" [disabled]="selectedIndex >= quiz!.questions.length -1" (click)="nextQuestion()">Next</button>
      </div>
    </div>
    <app-question-navigation [questions]="quiz!.questions"
                             [selectedIndex]=selectedIndex
                             (indexChanged)="navigateToQuestion($event)">
    </app-question-navigation>
  </div>
  <div class="submit-buttons">
    <button mat-raised-button color="primary" (click)="onSubmitPage()">Submit Page</button>
    <button mat-raised-button color="primary" (click)="onSubmitAll()">Submit all and finish</button>
  </div>
</div>
